apiVersion: apps/v1
kind: Deployment
metadata:
  name: supershop-backend
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: supershop-backend
  template:
    metadata:
      labels:
        app: supershop-backend
    spec:
      containers:
        - name: supershop-backend-container
          image: supershop-backend:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: NODE_ENV
              value: development
            - name: PORT
              value: "8080"
            - name: HOST
              value: 0.0.0.0
            - name: JWT_SECRET
              value: 01/VSuHWLI0U0q8PN/oCjddo2Va28SUfm90/yiKBfIU=
            - name: CORS_ORIGIN
              value: http://localhost:3000
            - name: DATABASE_URL
              value: postgresql://supershop_user:MUJAHIDrumel123@123@postgres.default.svc.cluster.local:5432/supershop?schema=public
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: supershop-backend
  namespace: default
spec:
  type: ClusterIP
  selector:
    app: supershop-backend
  ports:
    - port: 8080
      targetPort: 8080
      name: http